@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Please schedule your train at the station</h1>
    <p class="lead text-muted">This helps us better track trains coming in and out of the station and avoid accidents.</p>
</div>
